@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700|Didact+Gothic);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Didact Gothic', sans-serif;
}
h1, h2{
    font-family: 'Ubuntu', sans-serif;
}

/*adjust bootstrap styles*/
.btn{
    margin: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*width:85%;
    margin-right:auto;
    margin-left:auto;*/
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*style the index pages*/
.body-content {
    display: block;
}

@media(Max-width: 767px) {
    .profileImage {
        margin-left:auto;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .eddLinks a:first-child {
        font-size: medium;
    }

    .eddLinks {
        font-weight: bold;
    }

    .badges img {
       padding: 3px;  
    }
}/*end media query*/

 @media(Min-width: 767px) {
    .badges img {
       margin: 5px;  
    }
}/*end media query*/

.profileImage {
    width: 100%;
}
 .searchForm input[name="searchTerm"]{
     height:34px;
 }
.itemWrapper div ul {
    list-style-type: none;
    padding-left: 0;
}

    .itemWrapper div ul li:first-child {
        font-size: medium;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
    }

.itemWrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    
}

.badges img {
    width:60px;
    height:60px;
}


.eddLinks {
    
   width:100%;
    max-width: 125px;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    
}

.eddLinks a{
    margin:8px 3px;
}


/*style the create and edit forms*/
textArea{
     overflow-y: scroll;
    height: 300px;
    width: 100%;
    max-width:560px;
}

/*style the employer view*/
.resetLink{
    text-decoration: none;
    color: black;
}

.resetLink:hover{
    color: #0094ff;
    text-decoration: none;
}

.badges a:hover{
    text-decoration:none;
}

.employerTop,
.indexList{
    clear:both;
    display: block;
}

