@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<section>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consequat felis vel nulla pretium efficitur. Sed porttitor nisl a ipsum iaculis molestie. Nulla ac sodales enim, eu ultricies ligula. Suspendisse ac malesuada diam, at dignissim massa. Praesent sit amet massa et metus rutrum mattis. Donec volutpat pellentesque ex, sit amet interdum sem vehicula vel. Maecenas vestibulum velit nec maximus pretium. Curabitur ut tempus mauris. Fusce ac lacus porta, ultrices augue rhoncus, vehicula quam. Nam interdum massa eget libero imperdiet venenatis. Suspendisse iaculis libero sit amet aliquam lobortis. Sed porta lacus lacus, vitae varius dolor luctus vitae.
    </p>
    <p>
        Nullam sagittis urna id quam ultricies, at bibendum nibh rutrum. Curabitur convallis magna vel cursus rutrum. Praesent condimentum varius metus, et consequat orci sollicitudin nec. Duis viverra lectus sit amet erat viverra maximus. Pellentesque vestibulum mauris at imperdiet consequat. Integer sed porta metus. Quisque a felis ac tortor viverra faucibus. Maecenas felis libero, facilisis et arcu at, semper laoreet nisl. Integer faucibus nunc aliquet augue efficitur vehicula. Morbi nec risus at nibh suscipit consectetur nec ac odio. Integer pellentesque elit eros, ac convallis tortor finibus eget. Donec mattis est sagittis pellentesque tempus. Ut rutrum lacinia auctor. Proin a vehicula est. Nam a rhoncus dolor.
    </p>
    <p>
        Fusce convallis lobortis aliquam. Curabitur sem leo, convallis et euismod nec, auctor eget augue. Nam lorem velit, finibus vel lacus at, sollicitudin vehicula turpis. Proin commodo, diam ut efficitur rhoncus, nibh neque semper ex, at fermentum leo lectus rutrum tellus. Ut dapibus eu ex vel rhoncus. Quisque lobortis metus augue, quis consequat quam vulputate quis. Praesent in dolor eget libero laoreet sodales. Donec mollis ligula libero. Maecenas dui neque, luctus vitae tellus sit amet, eleifend consectetur nisi. Donec et dolor efficitur sem blandit sollicitudin vel eget urna.
    </p>
</section>