@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tempus ipsum. Nulla facilisi. Proin sit amet mauris vitae erat venenatis suscipit et et ex. In dui tellus, semper vel mollis vitae, scelerisque vitae ex. Aliquam tempor imperdiet nisl non interdum. Duis fermentum nunc eu viverra bibendum.
</p>

<address>
    <strong>Alumni Administrator:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Code Louisville Organization:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>